#include "resource.h"

IDI_LAUNCHER ICON "rho.ico"
IDB_LOGO BITMAP "logo.bmp"

IDD_SELECT DIALOGEX 0, 0, 260, 186
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Rho Emacs Launcher"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    PUSHBUTTON      "Rho Emacs",IDC_EMACS,111,7,145,14
    PUSHBUTTON      "Rho Shell",IDC_COMMAND_SHELL,111,24,145,14
    PUSHBUTTON      "",IDC_CLOJURE,111,41,145,14
    PUSHBUTTON      "",IDC_CCL,111,59,145,14
    PUSHBUTTON      "",IDC_SBCL,111,77,145,14
    PUSHBUTTON      "",IDC_CLISP,111,94,145,14
    PUSHBUTTON      "",IDC_ABCL,111,112,145,14
    PUSHBUTTON      "",IDC_ECL,111,130,145,14
    PUSHBUTTON      "",IDC_CLOJURE_PROJECT,111,148,145,14
    PUSHBUTTON      "",IDC_RACKET,111,166,145,14
END

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "rho.exe.manifest"
