.tb, .tbo {
    width: 12em;
    //width: 25%; /* For IE only */
    text-align: center;
    padding: 0.1em;
    //font-size: 0.8em; /* For IE only */
}
.tb {
    background-color: #556b2f;
}
.tb a {
    display: block;
    width: 100%;
    height: 100%;
    color: #ce6;
    text-decoration: none;
}
.tb a:hover {
    color: yellow;
    background-color: black;
    text-decoration: underline;
}
.tbo {
    color: black;
    font-weight: bold;
    background-color: #ce6;
}
#topmenu, #topmenu0 {
    width: 100%;
    margin-bottom: 2em;
    margin-top: 0;
}
