<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
        <img src="{{site.logo | relative_url}}" alt="Logo" style="height: 128px; width: 128px;"/>
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}" target="_blank">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        <p class="view"><a href="/" target="_blank">Software by g/christensen <small>gchristensen.github.io</small></a></p>

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        <p class="view">&#10084;&#65039; <a href="https://www.patreon.com/gchristnsn" target="_blank">Support the Project</a></p>

        {% if site.show_downloads %}
        <ul class="downloads">
            <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
            <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
            <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
    </header>
    <section>

        <h1 id="rho-emacs">RHO Emacs</h1>

        <p><img height="16px" width="16px" src="/download.png" alt="Download"/> <img height="16px" width="16px" src="/windows.png" alt="Windows"/>
            <a id="app-link" href="#">Download installer for Windows (64-bit)</a>

            <!--:: <img height="16px" width="16px" src="/youtube.png" alt="Youtube" style="max-width:100%;">
            <a href="https://youtu.be/YEdsVDZhcoQ" rel="nofollow" target="_blank">Video Manual</a> -->
        </p>

        <script>
             var xhr = new XMLHttpRequest();
             xhr.onreadystatechange = function () {
                 if (this.readyState == 4 && this.status == 200) {
                     var release = JSON.parse(this.responseText);
                     var link = document.getElementById("xpi-link");
                     link.href = release.assets[0].browser_download_url;
                 }
             };
             xhr.open('GET', 'https://api.github.com/repos/gchristensen/rho-emacs/releases/latest');
             xhr.send();
        </script>

        <div id="placeholder" style="display: block; text-align: center;">
            <img style="cursor: pointer;" src="/rho-emacs/media/logo.png" alt="screen"/>
        </div>

        <p>SEE ALSO: <a href="https://gchristensen.github.io/enso-portable/" >Enso open-source</a>,
            <a href="https://gchristensen.github.io/scrapyard/">Scrapyard</a></p>

        <h4><a id="user-content-description" class="anchor" aria-hidden="true" href="#description"></a>Description</h4>

        <p style="text-align: justify;">
          <b>&rho;Emacs</b> is a preconfigured distribution of
          <a href="https://www.gnu.org/software/emacs/" target="_blank">GNU Emacs</a> editor for
          <b>Microsoft Windows</b>. It offers some enhancements over the standard <b>Emacs</b> experience and targets
          several Windows-specific issues. Additionally, it provides optional components which improve <b>org-mode</b> capture
          capabilities and allow to create an <b>org-mode</b>-based local wiki.
        </p>

        <h4><a id="features" class="anchor" aria-hidden="true" href="#description"></a>Features</h4>
        <ul>
           <li style="text-align: justify;">A smart launcher, that starts <b>Emacs</b> in a <a href="https://www.gnu.org/software/emacs/manual/html_node/emacs/Emacs-Server.html" target="_blank">server</a>
            mode and then acts like <a href="https://www.gnu.org/software/emacs/manual/html_node/emacs/Invoking-emacsclient.html#Invoking-emacsclient" target="_blank">emacsclient</a>.</li>
                <li style="text-align: justify;">The home directory of the standard <b>Emacs</b> is bound to <code>USERPROFILE</code> or <code>HOME</code>
                    environment variables.
                    The home directory of <b>&rho;Emacs</b> could be anywhere, and even could be specified as a command-line argument to the launcher.</li>
                <li style="text-align: justify;"><b>ρEmacs</b> includes several popular libraries, modes and themes which comprise a reasonably
                    convenient configuration out of the box.</li>
                <li>The <a href="https://github.com/source-foundry/Hack">Hack</a> typeface, which works quite fast with <b>Emacs</b> font-lock mode is used by default.
                    This helps to avoid lags and freezes when editing large files.</li>
                <li>Some common <b>POSIX</b> utilities used by <b>Emacs</b>, such as <b>find</b>/<b>grep</b>, <b>patch</b>/<b>diff</b> and <b>aspell</b>, are also provided by the distribution.</li>
                <li><a href="https://orgmode.org/manual/Capture.html" target="_blank">Capture</a>
                    with <a href="https://orgmode.org/manual/Protocols.html" target="_blank">org-protocol</a>
                    may be configured by a single check in the installer.</li>
                <li>Possibility of a portable installation.</li>
        </ul>

        <h4><a id="launcher" class="anchor" aria-hidden="true" href="#description"></a><b>&rho;Emacs</b> launcher</h4>

        <p style="text-align: justify;"><b>&rho;Emacs</b> could be launched using a shortcut from <b>Windows</b> Start Menu, but the launcher is also accessible
        at the command line as the <code>rho</code> command (included in system <code>PATH</code> environment variable).
        It passes any arguments that do not start with a slash (<code>/</code>) to the underlying program which may be <code>emacs</code> if <b>Emacs</b>
            is not running, or <code>emacsclient</code> otherwise. The <code>/HOME</code> command-line argument allows to specify the home directory <b>ρEmacs</b>
        in the form <code>/HOME:path/to/the/directory</code>. This is convenient, for example, for use in <b>Windows</b> shortcuts.</p>

        <p style="text-align: justify;">Use <code>rhoc</code> command to run <b>Emacs</b> in the terminal (it will act as
            <code>emacsclient</code> if <b>Emacs</b> is already running.</p>

        <h4><a id="enhancements" class="anchor" aria-hidden="true" href="#description"></a><b>&rho;Emacs</b> enhancement libraries</h4>

        <p><a href="https://emacswiki.org/emacs/InteractivelyDoThings" target="_blank">ido</a>,
            <a href="https://www.gnu.org/software/emacs/manual/html_node/emacs/Icomplete.html" target="_blank">fido</a>,
            <a href="https://www.emacswiki.org/emacs/IswitchBuffers" target="_blank">iswitchb</a>,
            <a href="https://www.emacswiki.org/emacs/IbufferMode" target="_blank">ibuffer</a>,
            <a href="https://www.emacswiki.org/emacs/uniquify" target="_blank">uniquify</a>,
            <a href="https://www.emacswiki.org/emacs/SavePlace" target="_blank">save-place</a>,
            <a href="https://www.gnu.org/software/emacs/manual/html_node/elisp/Desktop-Save-Mode.html" target="_blank">desktop-save</a>,
            <a href="https://github.com/sabof/org-bullets" target="_blank">org-bullets</a>,
            <a href="https://www.emacswiki.org/emacs/TabBarMode" target="_blank">tabbar</a> and
            <a href="https://www.emacswiki.org/emacs/BookmarkPlus" target="_blank">bookmark+</a> modes could be enabled by default.
            
        </p>


    </section>
    <footer>
    </footer>
</div>
<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
</body>
</html>
